In [1]:
import pandas as pd
import numpy as np

In [2]:
numerical = pd.read_csv('numerical.csv')

In [3]:
cat = pd.read_csv('categorical.csv')

In [4]:
df = pd.DataFrame(numerical.isna().sum()).reset_index()
df.columns = ['column_name', 'nulls']
df[df['nulls']>0]

Empty DataFrame
Columns: [column_name, nulls]
Index: []

In [5]:
df = pd.DataFrame(cat.isna().sum()).reset_index()
df.columns = ['column_name', 'nulls']
df[df['nulls']>0]

Empty DataFrame
Columns: [column_name, nulls]
Index: []